<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Practice Test Suite">
	<listeners>
    <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
</listeners>


    <test name="String Validation Tests">
        <classes>
            <class name="practiceTests.TestClass1"/>
      
        </classes>
    </test>

</suite>
